
.navigation {
	top: 0;
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: #ab1a57;
	z-index: 2;
	box-shadow: 3px 3px 3px #E5BACC;
}

.container {
	padding-top: 5em;
}
.app-title {
	color: white;
	display: inline;
	font-family: 'Tangerine', serif;
  font-size: 24px;
}

.search-bar {
	margin: 16px;
	text-align: center;
	z-index: 3;
	max-width: 55%;
	position: relative;
}

.search-icon {
	position: absolute;
	right: 5.5%;
	z-index: 5;
	top: 41%;
}

.search-bar input {
	width: 75%;
}

.video-item img{
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	boder: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}
